<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- https://getbootstrap.com/docs/3.3/examples/starter-template/ -->
    <div class="container">
        <div class="row">
            <h1>TinyUrl Generator</h1>
        </div>
        <div class="row align-items-center">
            <form id="url-generator-form" class="form-inline">
                <!-- <div class="form-group mb-2">
                    <label for="staticEmail2" class="sr-only">Email</label>
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only">Password</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Confirm identity</button> -->
                <div class="form-group mb-2">
                    <label for="enter" class="sr-only">Enter</label>
                    <input type="text" readonly class="form-control-plaintext" id="enter" value="Enter:">
                </div>
                <div class="form-group mb-2">
                    <input class="form-control" type="text" id="originalUrl"/> 
                    <input class="btn btn-primary" type="submit" text="generate"/>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="form-group mb-2">
                <div id="tinyUrl"></div>
            </div>
        </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $("#url-generator-form").submit(function(event) {
                // Prevent the form from submitting via the browser.
                event.preventDefault();
                let originalUrl = "";
                getTinyUrl();
            });
        });
	
	function getTinyUrl() {
		let data = {
            "originalUrl": ""
        };
        data["originalUrl"] = $("#originalUrl").val();
        console.log("original url:");
        console.log(data["originalUrl"]);
		
		$.ajax({
			type : "POST",
			contentType : "application/json",
			url : "tinyurl",
			data : JSON.stringify(data),
			dataType : 'json',
			timeout : 100000,
			success : function(data) {
				console.log("SUCCESS: ", data);
                $("#tinyUrl").text("localhost:8080/redirect?url=" + data["tinyUrl"]);
			},
			error : function(e) {
				console.log("ERROR: ", e);
			},
			done : function(e) {
				console.log("DONE");
            },
		});
	}
    </script>
</body>
</html>
